{% extends "base.html" %}
{% block legacy_styles %}{% endblock %}
{% block legacy_scripts %}{% endblock %}
{% block title %}{{ react_title }} · CREW{% endblock %}
{% block body_class %}crew-app-page {{ react_body_class }} react-player-page{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='react/player.css', v=react_css_version) }}">
{% endblock %}
{% block body %}
<div id="crew-player-root" data-page="{{ react_page }}"></div>
<script nonce="{{ csp_nonce }}" id="player-state" type="application/json">{{ react_payload|tojson }}</script>
{% endblock %}
{% block scripts %}
<script type="module" src="{{ url_for('static', filename='react/player.js', v=react_js_version) }}"></script>
{% endblock %}
